Package: dataone-zookeeper
Version: 2.3.1
Section: utils
Priority: optional
Architecture: all
Depends: openjdk-8-jdk
Installed-Size: 1 kb
Maintainer: Skye Roseboom <sroseboo@dataone.unm.edu>
Description: This is a metapackage that installs the apache zookeeper. Currently installs version 3.4.6.
